section{
    display:grid;
    justify-content: center;
     background-color: rgb(43, 101, 177); 
   padding:4rem;
}


form{
    display: grid;
    padding: 2rem;
   gap: 3rem;

   width: 450px;
   background-color:slateblue;


}
.content{
    display: grid;
    
gap: 1rem;
font-size:24px;

}